<div class="row">
  <div class="col-md-6">
    <h1>List Clients</h1>
  </div>
  <div class="col-md-6">
    <a href="" class="btn-danger"></a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table-striped">
      <thead>
        <tr>
          <th>Full name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Balance</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{client.firstName}} - {{client.lastName}}</td>
          <td>{{client.phone}}</td>
          <td>{{client.email}}</td>
          <td>{{client.balance}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>